h1 {
 font-family: Tahoma, Geneva, sans-serif;
 color:#ddeeff;
}

h2 {
 font-family: Tahoma, Geneva, sans-serif;
 color:#ddeeff;
}

h3 {
 font-family: Tahoma, Geneva, sans-serif;
 color:#ddeeff;
}

p {
 font-family: Verdana, Geneva, sans-serif;
  color:#ddeeff;
}

body {
 background-image: url("https://www.transparenttextures.com/patterns/cream-pixels.png");
 background-color:#000000;
}
